body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
  }
  
  /* Secties */
  section {
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 20px;
    line-height: 1.5;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }

  section a{
    font-size: 20px;
  }

  section ul{
    font-size: 20px;
  }

  img{
    width: 420px; 
    height: 240px;
  }

  img.game{
    width: 300px;
    height: 310px;
  }

  img.python{
    width: 310px; 
    height: 240px;
  }

  video{
    width: 420px; 
    height: 240px;
  }